

/* ---------------RWD  414--------------------------- */


@media screen and (max-width:415px){


    .backtotop img{
        z-index: 8;
        right: 8px;
        /* display:none; */
        -webkit-transform: translateZ(0);
    }

    header{
        width: 100%;
    }

    #mask{
        position: fixed;
        top:0;
        left: 0;
        right:0;
        bottom:0;
        background-color:hsla(240, 2%, 26%, 50%);
        z-index: 9;
        display: none;
    }

    #mask.active{
        display: block;
        pointer-events: none;
    }


    .kv{
        background-image: url("../images/indexs/indexrwdbg03.png");
        width: 100%;
        /* width: auto; */
        /* width: 414px; */
        height: 50vh;
        background-position:top center;
        background-size: cover;

        display: flex;
        position: relative;
    }

    html.bgcolor{
        background-color: hsla(240, 2%, 26%, 50%);
    }




/* 頁首&頁尾 ================================================= */

/* ----------漢堡線------------------------ */
    .hamburger{
        display: block;
        height: 30px;
        padding: 10px;
        /* box-sizing: border-box; */
    }

    span.bar{
        width: 25px;
        height: 1px;
        display: block;
        margin: 12px;
        background-color: #414143;
        transform: all 0.3s ease-out ;
    }

    

    /* js要使用的class--------------- */
    .rotate1{
        transform: rotate( 45deg) 
        translateY(9px);
        transition: transform 0.4s ease-out;
    }

    .rotate2{
        transform: rotate(-45deg) 
        translateY(-9px);
        transition:transform 0.4s ease-out;
    }

      /* rotate的class結束後就沒有動畫了 所以要另外在bar身上加動畫恢復 */
    .bar1, .bar2{
        transition: transform 0.2s ease-out;
    }


/* ---------logo--------------------------- */

    .top{
        /* max-width: 100%; */
        /* width: 60%; */
        margin: 0 auto;
    }

    .top img{
        height: 2rem;
        padding: 10px 0;
    }


    
/* -----------------願望清單跟購物袋------------------- */

.rwdtool{
    display: flex;
    padding: 13px;
    padding-left: 0;
    align-items:flex-start;
}

.rwdtool a{
    font-size: 25px;
    color: #f5f5f5;
    margin:2px 5px 0 ; 
}

    /* ----------主選單------------------------ */

    .kv .navbar{
        /* display: none; */
        width : auto ;
    }

    
    /* .nav{
        flex-direction: column;
        background-color: #f5f5f5;
        margin-left: auto ;
        width: 90%;
        border-radius: 3px;
        height:  calc(100vh - 80px); 

        position: absolute;
        top:60px;
        right:100%;
        z-index: 10;
        transition: 0.3s ease-out;
        overflow-y:auto;
    }  */

    .nav{
        /* display: none; */
        flex-direction: column;
        background-color: #f5f5f5;
        margin-left: auto ;
        width: 90%;
        /* height: 780px; */
        border-radius: 3px;
        height:  calc(100vh - 80px); 
    
        position: absolute;
        top:57px;
        right:100%;
        /* left:0; */
        /* justify-content:space-between ;  */
        z-index: 10;
        transition: 0.3s ease-out;
        overflow:auto;
    
    }

    .nav.open{
        right: 10%;
        transition: 0.3s ease-out;
    }

    .nav li{
        text-align: center;
        border-bottom: 1px dashed hsla(352, 7%, 40%, 40%);
        /* flex-grow: 1; */
        flex-shrink: 0;
    }


    .nav>li:last-child{
        border-bottom: 0;
    }

/* ---------箭頭要轉--------------- */
    #menuarrow{
        display: block;
        width: 14px;
        position: absolute;
        top:17px;
        right:20px;
        transition: transform 0.2s ease;
    }

    .arrowclick{
        transform: rotate(90deg);
        transition: transform 0.2s ease;
    }

    .nav>li>a{
        text-shadow: none;
        font-size: 1rem;
        color: #6e5f61;
        height: 50px;
        width: auto;
        text-align: left;
        padding-left: 40px;
    }

/* -------登入&搜尋---------------------------- */
.rwdnav{
    display: block;
    justify-content:flex-start;
    padding-top:20px ;
}

    .rwdnav2{
        display: flex;
    }

    .rwdnav2 i{
        padding: 10px 0 10px 40px ;
    }


    /* .rwdnav2 input{
        background-color: #f5f5f5;
        outline: none;
        border: none;
        caret-color: #6e5f61;
        margin: 10px;
        margin-left: 3px;
        font-size: 1rem;
        height: 20px;
        width: 100%;
    } */

    .rwdnav2 input{
        background-color: #f5f5f5;
        outline: none;
        border: none;
        caret-color: #6e5f61;
        margin: 10px;
        margin-left: 3px;
        font-size: 1rem;
        height: 20px;
        width: 100%;
    }

    .rwdnav2 input::placeholder{
        font-size: 14px;
        color: hsla(352, 7%, 40%, 40%);;
    }



/* ----------子選單------------------------ */

.nav ol{
    /* height: 0; */
    width: 100%;
    /* display: none; */
    position:static;
}


/* .nav ol .upanddown{
    display: block;
    height: 300px;
    overflow: hidden;
    transition: 0.3s ease;
} */


/* .nav ol .upanddown{
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.3s ease;
} */


.nav ol li{
    width: 100%;
    background-color: #DBD5D1;

    /* display: block; */

}

.nav ol li a{
    width: 100%;
    padding-left:40px;
    color: #6e5f61;
    display: block;
    text-align: left;

    /* display: block; */
}

.nav>li> a:hover{
    background-color: transparent;   
}
.nav ol>li> a:hover{
    background-color:none;
    color:none;
}


/* 選單內的foot---------------------------------- */

.rwdfooter{
    background-color: #f5f5f5;
    display: block;
    width: 100%;
    padding-top: 7px;
    /* flex-grow: 1; */
}

/* .footer>img{
    background-color: #f5f5f5;
    padding-top: 274px;
} */

.footer>img{
    background-color: #f5f5f5;
    padding-top: 274px;
    padding-bottom:0 ;
    min-width: auto;
    width: 100%;
    margin-left: 0;

    /* flex-grow: 1; */
}
/* .footback{
    background-color: #DBD5D1;
} */
.footback{
    background-color: #DBD5D1;
    min-width: auto;
    width: 100%;
}

/* .footblock{
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
} */

.footblock{
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: flex-start;
    /* min-width: auto; */
    width: 100%;

    flex-grow: 1;

}

.footblock li{
    /* justify-content: space-between; */
    width: auto;

}

.footblock a{
    width: 80px;
    margin: 0;
    font-size: 0.8rem;
}


/* 底下四個文字 */

.footleft{
    margin: 20px auto;
}

.footleft ul{
    display: flex;
    width: 100%;
}

/* logo + media-------------------- */

/* .footflex{
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
} */

.footflex{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* margin: 0 auto; */
    align-items: center;
    flex-grow: 1;
}
/* .footmiddle img{
    width: 40px;
    margin: 10px 70px 10px 60px;
} */

.footmiddle img{
    height: 60px;
    margin: 0 70px 10px 60px;
}

/* .footright{
   width: 0;
}

.footright ul{
 display: flex;
 margin-right: 50px;
}

.footright a{
    width: 50px;
} */

.footright{
    width: 0;
 }

.footright ul{
 display: flex;
 margin-right: 50px;
}

.footright a{
    width: 40px;
}

/* .forflex{
    display: flex;
}
.copy{
    background-color: #DBD5D1;
    flex-grow:1;
} */

.forflex{
    /* border: 1px solid #087; */
    display: flex;
}

.copy{
    background-color: #DBD5D1;
    min-width: auto;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}




/* 頁首&頁尾 共用================================================= */


/* mainblock======================================== */

.mainblock{
    width: 100%;
}

.intro{
    width: 100%;
    flex-wrap: wrap;

}

.intro .words{
    order:-1;
    width: 270px;
    margin-top: 40px;
    padding: 20px 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.intro img{
    width: 150px;
}

span.titleline{
    width: 100%;
}

/* 主打--------------------------- */


.title01{
    padding: 8px;
}

/* 先把照片切掉 用輪播 */
.rec-top{
    overflow: hidden;
}

.rec-top img{
    width: 300px;
}

.rec-top img:hover{
    transform: none;
}

.rec-top i{
    /* display: none; */
    font-size: 1.5rem;
    padding: 0 10px;
    z-index: 1;
}


/* ------------02--------------------------- */

.dec{
    display: none;
}
.rec-middle{
    padding: 50px ;
}

.title02{
    order: -1;
    width: 180px;
    height: 180px;
}

.forwrap01, .forwrap02{   
width: 330px;
flex-wrap: wrap;
justify-content: center;
}


.rec-middle img{
    /* border-radius: 3px; */
    width: 150px;
    margin: 5px;
}

.rec-middle >img.sti01{
    display: none;
    top: 350px;
    left: 170px;
    width: 60px;
    transform: rotate(30deg);
}


/* mainblock======================================== */

/* 03--------------------------------------- */

.background{
padding-right:30px;
padding-left: 20px;
}

.rec-bottom{
    overflow: hidden;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.rec-bottom .b1{
    width: 280px;   
}

.forbutton{
    margin-right: 30px;
}

.rec-bottom .b2{
    width: 250px;
    margin-top: 0;
    order:-1;
}

.title03{
    order:-2;
}

.rec-bottom p{
    position: absolute;
    top:197px;
    right: 16px;
    z-index: 6;
}

.rec-bottom .v{
    position: absolute;
    top:221px;
    right: 12px;
    z-index: 6;
}

.button03{
    left:32px;
}

/* ---------------暫時display none-------------- */


    /* 套用於要隱藏的內容 並不存在在正式內容中 */
    .none{
        display: none;
    }


/* ========display none========= */

.tool{
    display: none;
}
footer{
    display:none ;
}
.short-about{
    display: none;
}

}