@import url("../forall/RWDheadfoot.css");
@media screen and (max-width: 415px){




.backtotop img{
    display: none;
}    

.path{
    width: 330px;
} 

.mainblock{
    width: 60%;
    margin-top: 50px;
    padding-bottom: 30px;
}

/* #tab1{
    display: none;
}

#tab2{
    display:block ;
} */


.tab>button{
    color: #414143;
}

button.-active{
    background-color: #6E5F61;
    color: #fff;
}









}
    
