@import url('../forall/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Mukta+Mahee:wght@300;400&display=swap');
@import url('../forall/headfoot.css');



body{
    letter-spacing: .8px;
    line-height: 1.6;
}

.mainblock{
    width: 800px;
    margin: 0 auto 100px;
}

.mainblock h2{
    font-size: 1.125rem;
    font-weight: 600;
    color: #6E5F61;
}


.path{
    width: 1200px;
    margin: 0 auto;
}

h3{
    font-size: 1.5rem;
    text-align: left;
    padding: 10px 0;
}

img.logo{
    width: 100px;
    display: inline-block;
    padding: 0 5px;
}

.mainblock li{
    list-style:circle;
}


ul.step li{
    /* display: block; */
    padding-left:20px ;
    list-style:none;
}


.noticelist{
    padding:10px 0 ;
}

.noticelist li{
    margin-bottom: 10px;
}

.step li{
    margin-bottom: 5px;
}

.noticelist, .return>ul{
    padding-left: 20px;
}

.return li{
    margin-bottom: 10px;
}

/* 照片跑馬 */

.runningpics {
    /* position: relative; */
    height: 100px;
    width: 200%;
    /* overflow: hidden; */
    margin-bottom: 150px;
    opacity: 0.9;
    display: flex;
  }

  .imgflow{
    overflow: hidden;
  }
  
  .runningpics img {
    /* position: absolute;
    left: 0;
    top: 0; */
    height: 100px;
    width: 100%;
    object-fit:cover;
    animation: runningpics 50s linear infinite;
    /* overflow: hidden; */
  }
  

  
  @keyframes runningpics {

    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }





    
    }
  
  
