@import url("../forall/RWDheadfoot.css");
@media screen and (max-width:415px) {

.path{
    width:330px;
}


.list{
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    position: static;
    /* align-items:center; */
    justify-content: center;
}

.list li{
    width: auto;
    height: auto;
}

.list a{
    width: 100px;
    text-align: center;
}


.mainblock{
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    justify-content: center;
}




/* -----------items--------------------- */
.row{
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    justify-content: flex-start;
}


.row li{
    width: 150px;
    height: 350px;
    margin:5px;
    margin-bottom: 20px;
}


.bttn{
    flex-direction: column;
}

.filter{
    width: 80px;
    right: 20px;
}


.page{
    width: 350px;
}

.donot{
    width:350px;
    margin-right: 80px ;

}


.none{
    display: none;
}



}