/* @import url(../forall/RWDheadfoot.css); */

/* @media screen and (max-width:415px){

/* 頁首&頁尾 ================================================= */
@media screen and (max-width:415px){

    header{
        width: 100%;
    }
    
    
    /* ----------漢堡線------------------------ */
    .hamburger{
        display: block;
        height: 30px;
        padding: 10px;
        /* box-sizing: border-box; */
    }
    
    span.bar{
        width: 25px;
        height: 1px;
        display: block;
        margin: 12px;
        background-color: #414143;
        transform: all 0.3s ease-out ;
    }
    
    
    
    /* js要使用的class--------------- */
    .rotate1{
        transform: rotate( 45deg) 
        translateY(9px);
        transition: transform 0.3s ease-out;
    }
    
    .rotate2{
        transform: rotate(-45deg) 
        translateY(-9px);
        transition:transform 0.3s ease-out;
    }
    
    
    .rotate1back{
        transform: rotate(0deg) 
        translateY(0px);
        transition: 0.3s ease-out;
    }
    
    .rotate2back{
        transform: rotate(0deg) 
        translateY(0px);
        transition: 0.3s ease-out;
    }
    
    
    /* ---------logo--------------------------- */
    
    .top{
        /* max-width: 100%; */
        /* width: 60%; */
        margin: 0 auto;
    }
    
    .top img{
        height: 2rem;
        padding: 10px 0;
    }
    
    
    
    /* -----------------願望清單跟購物袋------------------- */
    
    .rwdtool{
    display: flex;
    padding: 13px;
    padding-left: 0;
    align-items:flex-start;
    }
    
    .rwdtool a{
    font-size: 25px;
    color: #f5f5f5;
    margin:2px 5px 0 ; 
    }
    
    /* ----------主選單------------------------ */
    
    .kv .navbar{
        /* display: none; */
        width : auto ;
    }
    
    .nav{
        /* display: none; */
        flex-direction: column;
        background-color: #f5f5f5;
        margin-left: auto ;
        width: 90%;
        border-radius: 3px;
        /* height: calc(100vh - 60px); */
        height:  calc(100vh - 60px); 
        position: absolute;
        top:60px;
        right:100%;
        justify-content:space-between ; 
        z-index: 6;
        transition: 0.3s ease-out;
    }
    
    .nav.open{
        right: 10%;
        transition: 0.3s ease-out;
    }
    
    .nav li{
        text-align: center;
        border-bottom: 1px dashed hsla(352, 7%, 40%, 40%);
    }
    
    .nav>li:last-child{
        border-bottom: 0;
    }
    
    /* ---------箭頭要轉--------------- */
    #menuarrow{
        display: block;
        width: 14px;
        position: absolute;
        top:3px;
        right:20px;
    }
    
    .arrowclick{
        transform: rotate(90deg);
        transition: transform 0.3s ease;
    }
    
    .nav>li>a{
        text-shadow: none;
        font-size: 1rem;
        color: #6e5f61;
        height: 50px;
        width: auto;
        text-align: left;
        padding-left: 40px;
    }
    
    /* -------登入&搜尋---------------------------- */
    .rwdnav{
        display: block;
        justify-content:flex-start;
    }
    
    .rwdnav2{
        display: flex;
    }
    
    .rwdnav2 i{
        padding: 10px 0 10px 40px ;
    }
    
    
    .rwdnav2 input{
        background-color: #f5f5f5;
        /* border: 1px solid hsl(352, 7%, 40%,50%); */
        /* border-bottom:1px solid #6e5f61; */
        /* width: 140px; */
        outline: none;
        border: none;
        caret-color: #6e5f61;
        margin: 10px;
        margin-left: 3px;
        font-size: 1rem;
        height: 20px;
        width: 100%;
    }
    
    .rwdnav2 input::placeholder{
        font-size: 14px;
        color: hsla(352, 7%, 40%, 40%);;
    }
    
    
    
    /* ----------子選單------------------------ */
    
    .nav ol{
    /* height: 0; */
    width: 100%;
    /* display: none; */
    position:static;
    }
    
    
    /* .nav ol .upanddown{
    display: block;
    height: 300px;
    overflow: hidden;
    transition: 0.3s ease;
    } */
    
    
    /* .nav ol .upanddown{
    max-height: 300px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    } */
    
    
    .nav ol li{
    width: 100%;
    background-color: #DBD5D1;
    
    /* display: block; */
    
    }
    
    .nav ol li a{
    width: 100%;
    padding-left:40px;
    color: #6e5f61;
    display: block;
    text-align: left;
    
    /* display: block; */
    }
    
    .nav>li> a:hover{
    background-color: transparent;   
    }
    .nav ol>li> a:hover{
    background-color:none;
    color:none;
    }
    
    
    /* 選單內的foot---------------------------------- */
    
    .rwdfooter{
    background-color: #f5f5f5;
    display: block;
    }
    
    .footer>img{
    background-color: #f5f5f5;
    padding-top: 280px;
    
    }
    .footback{
    background-color: #DBD5D1;
    }
    
    .footblock{
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    }
    
    .footblock li{
    /* justify-content: space-between; */
    width: auto;
    
    }
    
    .footblock a{
    width: 90px;
    margin: 0;
    font-size: 0.8rem;
    }
    
    
    /* 底下四個文字 */
    
    .footleft{
    margin: 20px auto;
    }
    
    .footleft ul{
    display: flex;
    width: 100%;
    }
    
    /* logo + media-------------------- */
    
    .footflex{
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    }
    .footmiddle img{
    width: 40px;
    margin: 10px 70px 10px 60px;
    }
    
    .footright ul{
    display: flex;
    margin-right: 50px;
    
    }
    
    .footright a{
    width: 50px;
    }
    
    .forflex{
    /* border: 1px solid #087; */
    display: flex;
    }
    .copy{
    background-color: #DBD5D1;
    }
    
    
    
    
    /* 頁首&頁尾 共用================================================= */
    
    
    









} */