@import url("../forall/RWDheadfoot.css");
@media screen and (max-width:415px) {

.path{
    width:330px;
}


.list{
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    position: static;
    /* align-items:center; */
    justify-content: center;
}

.list li{
    width: auto;
    height: auto;
}

.list a{
    width: 100px;
    text-align: center;
}


.mainblock{
    overflow:hidden;
    flex-direction: column;
    align-items: center;
    width: 380px;
    /* justify-content: center; */
}




/* -----------items--------------------- */
.row{
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    /* width: 100%; */
    justify-content:space-between ;
}


.row li{
    width: 180px;
    height: 380px;
    margin:3px;
    margin-bottom: 20px;
}


.bttn{
    flex-direction: column;
    color: #414143;

}

.filter{
    width: 80px;
    right: 20px;
}


.page{
    width: 350px;
}

.donot{
    width:350px;
    margin-right: 80px ;

}


.none{
    display: none;
}



}