@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Mukta+Mahee:wght@300;400&display=swap');
@import url("../forall/headfoot.css");




.path{
    width: 1200px;
    margin: 0 auto;
}

h3{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
}

.mainblock{
    width: 1200px;
    margin: 10px auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom:  100px;
    position: relative;
}

/* 每排------------------------------ */
.row{
    display: flex;
    padding-bottom:50px ;
    justify-content: flex-end;


    flex-wrap: wrap;
}

/* ------------------------------list */


.list{
    width: 140px;
    height: 100%;
    /* margin-right: auto; */
    /* background-color: #086; */
    /* justify-content:flex-start ; */
    position: sticky;
    top:0;
    left: 120px;
}

.list li{
    width: 140px;
    border-bottom:1px dashed #6E5F61;

}

.list a{
    display:block;
    padding: 15px 0;
    color: #6E5F61;
    font-size: 14px;
    /* text-align: center; */
}

.list a:hover{
    transform: scale(1.1);
    font-weight: 600;
    transition: transform .1s ease;
}


/* 篩選------------------------------------- */

.filter{
    position: absolute;
    top:-47px;
    right: 1px;

    width: 100px;
    height: 18px;
    background-color: #fff;
    color: hsla(240, 2%, 26%,80%);
    /* border:1px solid #6E5F61 ; */
    border: none;
    border-bottom:1px solid #414143;
    outline: none;
    /* border-radius: 1%; */
    margin: 5px 0;
    padding: auto;
}

/* items--------------------------------------- */


.row li{
    width: 260px;
    min-width: 120px;

    height: 420px;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 40px;

    background-color: #fff;
    border: 1px #6E5F61;
    border-style:dotted;
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
    position: relative;
}

.row img{
    display: block;
    width: 100%;
    border-radius: 3px;
}

.row img:hover{
    opacity: 0.7;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 0.3s ease;
}


.row h4{
    /* background-color: #087; */
    padding: 15px 3px 5px;
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: .5px;
    text-align: left;

}
.bttn p{
    /* background-color: #087; */
    color: #6E5F61;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.125rem;
    margin-right: auto;
    padding-left: 10px;

}

.bttn{
    /* background-color: #087; */
    color: #414143;
    display: flex;
    justify-content:end;
    align-items: center;
    padding-top: 20px;
    /* margin-top:0 ;
    vertical-align: bottom; */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.row button{
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 2px;
    margin: 10px 3px;
    padding: 5px 10px;
}

/* 愛心根購物袋按鈕============================== */


.bttn button.heart{
    /* background-color: transparent; */
    color: #414143;
}

.bttn button.bag{
    /* background-color:transparent; */
    color: #414143;
    margin-right: 10px;
}


button.heart.-addheart{
    background-color: crimson;
    color: #fff;
}

button.bag.-addbag{
    background-color: #E9DFAD;
}



/* ----------------------------頁碼 */

.page{
    width: 1200px;
    margin: 0 auto 100px;
}


.page ul{
    display: flex;
    justify-content: flex-end;
    /* background-color: #000; */
}
.page li{
    padding: 10px;
    /* background-color: #DBD5D1; */
    border-radius: 1px;
    margin: 0 3px;

}
.page li.now{
    background-color: #DBD5D1;

}

.page li.next{
    background-color: #fff;
    outline: 1px solid #DBD5D1;
}


/* .page a{
    display: block;
} */





/* 警告------------------------------ */
.donot{
    width: 1200px;
    margin: 0 auto 100px;
    text-align:right;
   
}

small{
    font-size: 12px;
    color: #ccc;
}



