@media screen and (max-width: 415px){

header{
    background-image: url("../images/products/grouprwdheadbg.png");
    /* min-width: 414px; */
    width: 100%;
}

header img{
    padding: 20px 0;
    height: 1.85rem;
    margin-left: 20px;
}

/* ----------漢堡線------------------------ */
.hamburger{
    display: block;
    width: 40px;
    height: 40px;
    padding: 10px;
    /* box-sizing: border-box; */
    z-index: 2;
}

span.bar{
    width: 25px;
    height: 1px;
    display: block;
    margin: 12px;
    background-color: #414143;
    transform: all 0.3s ease-out ;
}


 /* js要使用的class--------------- */
 .rotate1{
    transform: rotate( 45deg) 
    translateY(9px);
    transition: transform 0.3s ease-out;
}

.rotate2{
    transform: rotate(-45deg) 
    translateY(-9px);
    transition:transform 0.3s ease-out;
}

/* rotate的class結束後就沒有動畫了 所以要另外在bar身上加動畫恢復 */
    .bar1, .bar2{
    transition: transform 0.2s ease-out;
    }

/* .rotate1back{
    transform: rotate(0deg) 
    translateY(0px);
    transition: 0.3s ease-out;
}

.rotate2back{
    transform: rotate(0deg) 
    translateY(0px);
    transition: 0.3s ease-out;
} */



.topblock{
    width: auto;
}

/* -----------------願望清單跟購物袋------------------- */

.rwdtool{
    display: flex;
    padding: 13px;
    padding-left: 0;
    align-items:flex-start;
}

.rwdtool a{
    font-size: 25px;
    margin:2px 5px 0 ; 
}



.forrwdflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


    /* ----------主選單------------------------ */

.nav{
    /* display: none; */
    flex-direction: column;
    background-color: #f5f5f5;
    margin-left: auto ;
    width: 90%;
    /* height: 780px; */
    border-radius: 3px;
    height:  calc(100vh - 80px); 

    position: absolute;
    top:30px;
    right:100%;
    /* left:0; */
    /* justify-content:space-between ;  */
    z-index: 10;
    transition: 0.3s ease-out;
    overflow:auto;

}

.nav.open{
    right: 10%;
    transition: 0.3s ease-out;
}

.nav li{
    text-align: center;
    border-bottom: 1px dashed hsla(352, 7%, 40%, 40%);
    flex-shrink: 0;
}

.nav>li:last-child{
    border-bottom: 0;
}


/* ---------箭頭要轉--------------- */
#menuarrow{
    display: block;
    width: 14px;
    position: absolute;
    top:17px;
    right:20px;
    transition: transform 0.2s ease;
}

.arrowclick{
    transform: rotate(90deg);
    transition: transform 0.2s ease;
}

.nav>li>a{
    text-shadow: none;
    font-size: 1rem;
    color: #6e5f61;
    height: 50px;
    width: auto;
    text-align: left;
    padding-left: 40px;
}


/* -------登入&搜尋---------------------------- */
.rwdnav{
    display: block;
    justify-content:flex-start;
    padding-top:20px ;
}

.rwdnav2{
    display: flex;
}

.rwdnav2 i{
    padding: 10px 0 10px 40px ;
}


.rwdnav2 input{
    background-color: #f5f5f5;
    outline: none;
    border: none;
    caret-color: #6e5f61;
    margin: 10px;
    margin-left: 3px;
    font-size: 1rem;
    height: 20px;
    width: 100%;
}

.rwdnav2 input::placeholder{
    font-size: 14px;
    color: hsla(352, 7%, 40%, 40%);;
}


/* ----------子選單------------------------ */

.nav ol{
    /* height: 0; */
    width: 100%;
    display: none;
    position:static;
}

.nav ol li{
    width: 100%;
    background-color: #DBD5D1;
}

.nav ol li a{
    width: 100%;
    padding-left:40px;
    color: #6e5f61;
    display: block;
    text-align: left;
}


.nav>li> a:hover{
    color:inherit;   
 }




/* 選單內的foot---------------------------------- */

.rwdfooter{
    background-color: #f5f5f5;
    display: block;
    width: 100%;
}

.footer>img{
    background-color: #f5f5f5;
    padding-top: 274px;
    padding-bottom:0 ;
    min-width: auto;
    width: 100%;
    margin-left: 0;

    /* flex-grow: 1; */
}


.footback{
    background-color: #DBD5D1;
    min-width: auto;
    width: 100%;
}

.footblock{
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: flex-start;
    /* min-width: auto; */
    width: 100%;

    flex-grow: 1;

}

.footblock li{
    width: auto;
}

.footblock a{
    width: 80px;
    margin: 0;
    font-size: 0.8rem;
}

/* 底下四個文字 */

.footleft{
    margin: 20px auto;
}

.footleft ul{
    display: flex;
    width: 100%;
}


/* logo + media-------------------- */


.footflex{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* margin: 0 auto; */
    align-items: center;
    flex-grow: 1;
}

.footmiddle img{
    height: 60px;
    margin: 0 70px 10px 60px;
}

.footright{
    width: 0;
 }

.footright ul{
 display: flex;
 margin-right: 50px;
}

.footright a{
    width: 40px;
}

.forflex{
    /* border: 1px solid #087; */
    display: flex;
}

.copy{
    background-color: #DBD5D1;
    min-width: auto;
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}


span.titleline{
    margin-bottom: 60px;
    width: 20rem;
}

h1{
    padding-top:50px;
}


.backtotop img{
    z-index: 8;
    right: 8px;
    /* display:none; */
    -webkit-transform: translateZ(0);
}


/* =========section=============================== */





/* ---------------暫時display none-------------- */


    /* 套用於要隱藏的內容 並不存在在正式內容中 */
    .none{
        display: none;
    }


/* ========display none========= */

.tool{
    display: none;
}
footer{
    display:none ;
}

    ol.-open{
        max-height: 300px;
        display: block !important;
    }

}

@media screen and (min-width: 1200px){
    .nav>li:hover > ol{
        max-height: 300px;
    }
    
}








    